
.menu {
    font-family: "Futura PT";
    display: flex;
    position: relative;
    top: 10%;
    height: max-content;
    width: 460px;
    flex-direction: row;
    justify-content: center;
}

.menu__item {
    background: none;
    border: none;
    margin: 0 20px;
    &:hover {
        color: $hover-font-color;
    }
    
}

.item__tab {
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    // &:before{
        
    // }    
}

.item__tab:before {
    content: "";
    display: block;
    position: relative;
    left: 43%;
    width: 6px;
    border-radius: 50%;
    height: 6px;
    background-color: #fff;
    // margin-top: 6px;
    margin-bottom: 5px;
}

.item__radio:checked {
    + .item__tab {
        color: $hover-font-color;
        &::before {
            background-color: $hover-font-color;
        }
    }

}

@media only screen and (max-width: 1250px) {

    .menu {
        // visibility: hidden;
        width: 100%;
        height: max-content;
        flex-direction: column;
        justify-content: flex-start;
        top: -20px;
        align-items: flex-start;
        overscroll-behavior-y: contain;
    }

    .item__tab {
        font-size: 24px;
        line-height: 60px;
        letter-spacing: 1px;
    }

    .item__tab:before {
        left: -50px;
        width: 10px;
        height: 10px;
        top: 40px;
    }
}

