.service-wrapper {
    width: 1028px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 60px 0 0 100px;
    margin-top: 200px;
}

.service-wrapper__title {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -.5px;
    margin-bottom: 30px;
}

.service {
    display: flex;
    // flex-direction: row;
    flex-flow: row wrap;
    width: 900px;
}

.service-wrapper__happy-boy {
    width: 441px;
    height: 497px;
    position: absolute;
    z-index: -1;
    margin-left: -280px;
    margin-top: -20px;
}


@media only screen and (max-width: 1010px) {

    .service-wrapper {
        min-height: 300px;
        width: max-content;
        height: 50vw;
        margin-top: 50px;
        min-height: 300px;
        height: max-content;
        padding: 0;
    }

    .service {
        width: 100vw;
        justify-content: center;
    }

    .service-wrapper__title {
        font-size: 20px;
        line-height: 48px;
        letter-spacing: -.5px;
        padding: 40px 0 0 20px;

    }

    .service-wrapper__happy-boy {
        margin-left: -250px;
        margin-top: 0;
    }
}
