

.footer-menu__footer-item {
    background: none;
    border: none;
    margin: 0 20px;
    &:hover {
        color: $hover-font-color;
    }
    
}

.footer-item__tab {
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1px;
    font-family: "Futura PT";
    white-space: nowrap;
    // &:before{
        
    // }    
}

.footer-item__tab:before {
    content: "";
    display: block;
    position: relative;
    left: -20px;
    top: 27px;
    width: 6px;
    border-radius: 50%;
    height: 6px;
    background-color: #f7f7f7;
    // margin-top: 6px;
    margin-bottom: 5px;
}

.footer-item__radio:checked {
    + .footer-item__tab {
        color: $hover-font-color;
        &::before {
            background-color: $hover-font-color;
        }
    }

}


