.feedback {
    width: 1028px;
    height: 443px;
    // background-color: #7dd2c1;
    // background-image: url('../../assets/images/feedback.png');
    // background-repeat: no-repeat;
    // background-position-x: right;
    margin-top: 80px;
}

.image-wrapper {
    height: 443px;
    position: absolute;
    width: 100vw;
    max-width: 1028px;
    text-align: end;
    z-index: -1;
}

.image-wrapper__image {
    height: 443px;
    width: 1028px;
}

.feedback__title {
    font-family: 'Gilroy';
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -.5px;
    padding: 60px 0 0 100px;
    // width: 300px;
    margin-bottom: 30px;
}

.feedback__info {
    font-family: "Gotham Pro";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.5px;
    width: 360px;
    padding-left: 100px;
    margin-bottom: 60px;
}

.feedback__text-input {
    width: 232px;
    height: 32px;
    font-family: "Gotham Pro";
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 1px;
    background: none;
    border: 1px solid #fff;
    margin-right: 20px;
    outline: none;
    text-align: left;
    padding-left: 20px;
    &::placeholder {
        color: #2d6b5f;
        text-align: left;
    }
}

.data-wrapper {
    padding-left: 100px; 
}

.feedback__done-btn {
    display: flex;
    width: 253px;
    height: 36px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    &:hover {
        .done-btn__text {
            padding-right: 80px;
        }
    }
    &:focus {
        outline: none;
        
    }
}



.done-btn__text {
    font-family: "Gotham Pro";
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 60px;
    transition: all .25s ease-out;
    margin: 0;
}


.done-btn__arrow {
    width: 80px;
    height: 16px;
}

@media only screen and (max-width: 1010px) {

    .image-wrapper {
        display: flex;
        justify-content: right;
        overflow-x: hidden;
        margin: 0 auto;
    }

    .feedback {
        width: 100vw;
        max-width: 1028px;
    }

    .feedback__title {
        font-size: 20px;
        line-height: 48px;
        letter-spacing: -.5px;
        padding: 40px 0 0 20px;
        margin: 0;
    }

    .feedback__info {
        width: 80vw;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -.5px;
        padding-left: 20px;
        margin-top: 0;
    }

    .data-wrapper {
        padding-left: 20px;
    }

    .feedback__text-input {
        margin-bottom: 20px;
    }

    .feedback__done-btn {
        margin: 0;
    }
}



@media only screen and (max-width: 782px) {

    .image-wrapper__image {

    }

}