+b('feedback', {})
    +e('title', {}, 'h1')= 'ОСТАЛИСЬ ВОПРОСЫ?'
    +e('info', {}, 'p')= 'Оставьте заявку ниже и мы с Вами свяжемся  в близжайшее время'
    +b('data-wrapper', {p: 0})
        +e('text-input', {}, 'input')(placeholder='Введите Ваше имя')
        +e('text-input', {}, 'input')(placeholder='Введите номер телефона')
        +e('done-btn', {}, 'button')
            +e('text', {p: 'done-btn'}, 'p')= 'Готово'
            +e('arrow', {p: 'done-btn'}, 'div')
                include ../../../assets/icons/arrow.svg