+b('image-mini')
    +e('title', {}, 'h1')= 'ПРОФЕССИОНАЛЬНОЕ ОТБЕЛИВАНИЕ ЗУБОВ'
    +e('description', {}, 'p')= 'Вы можете заказать услугу со скидкой онлайн'
    +e('arrow-svg', {}, 'svg')
        use(xlink:href='#arrow')
