.descriptions__item__icon-wrapper{
    height: 100px;
}

.descriptions__item__title {
    font-family: "Gilroy";
    padding-right: 70px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 800;
    letter-spacing: 1px;
}

.descriptions__item__description {
    font-family: "Gotham Pro";
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    padding-right: 10px;
}