.service-item {
    width: 250px;
    height: 190px;
    // flex: 0 1 100px;
    // margin: 0 100px;
}

.service-item__title {
    font-family: "Gilroy";
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1px;
    width: 150px;
}

@media only screen and (max-width: 1010px) {

    .service-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 260px;
    }

    .service-item__logo {
        width: 79px;
        height: 89px;
    }

    .service-item__title {
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 1px;
    }
}