.service-item {
    width: 250px;
    height: 190px;
    // flex: 0 1 100px;
    // margin: 0 100px;
}

.service-item__title {
    font-family: "Gilroy";
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1px;
    width: 150px;
}