include ../../node_modules/bempug/index

doctype html
html
    include ./../blocks/head/head
    body
        +b('app')
            include ./../blocks/header/header
            include ./../blocks/content/content
            include ./../blocks/footer/footer
        
        +b('map-wrapper', {})
            +b('map-container', {})#map-container
