+b('description', {})
    +e('title', {}, 'h1')= 'СТОМАТОЛОГИЯ «ДЭНТАЛ ЛЭНД»'
    +b('info-wrapper', {})
        +e('info', {}, 'p')= '«Ваша стоматология» — это современный медицинский центр  закрытого цикла – от первичной консультации до самого сложного лечения.  Здоровьем ваших зубов будет заниматься команда опытных сертифицированных специалистов-стоматологов, которые используют в своей работе новейшие медицинские методики и современное технологичное оборудование. Поэтому вы гарантированно получаете профессиональные консультации по любому вопросу, выявление причин и самые лучшие способы решения любой проблемы.'
        +e('logo', {}, 'img')(src='../assets/icons/tooth-big.png')
    +b('images-wrapper', {})
        +e('item item--big', {}, 'img')(src='../assets/images/description-image-1.png') 
        +e('item', {}, 'img')(src='../assets/images/description-image-2.png')
        +e('item', {}, 'img')(src='../assets/images/description-image-4.png')
        +e('item', {}, 'img')(src='../assets/images/description-image-4.png')