
+b('contacts', {})
    +b('contacts__title-wrapper', {p:0})
        +e('title', {}, 'h1')= 'КОНТАКТЫ'
        +e('logo', {}, 'img')(src='../assets/icons/tooth-small.png')
    +b('contacts-wrapper')
        +b('unsocial', {}, 'div')
            +b('left', {p:0})
                +e('item', {}, 'div')
                    +e('icon', {}, 'svg')
                        use(xlink:href='#location')
                    +e('info', {}, 'p')= 'пр. Чекистов, 22'
                +e('item', {}, 'div')
                    +e('icon', {}, 'svg')
                        use(xlink:href='#phone')
                    +b('phone-wrapper', {})
                        +e('info', 'number', {}, 'a')(href='tel:8(861)2736142')= '8 (861) 273 61 42'
                        +e('info', 'number', {}, 'a')(href='tel:89184843579')= '8 918 48 43 579'
                    //- +e('info', 'number', {}, 'p')= '8 (861) 273 61 42 8 918 48 43 579'
                +e('item', {}, 'div')
                    +e('icon', {}, 'svg')
                        use(xlink:href='#mail')
                    +e('info', {}, 'a')(href='mailto:dental_land@mail.ru')= 'dental_land@mail.ru'
                +e('button', {}, 'button')
                    +e('text', {p:'button'}, 'p')= 'Показать на карте '
            +b('right', {p:0})
                +e('item', {}, 'div')
                    +e('icon', {}, 'svg')
                        use(xlink:href='#location')
                    +e('info', {}, 'p')= 'ул. Старокубанская, 32'
                +e('item', {}, 'div')
                    +e('icon', {}, 'svg')
                        use(xlink:href='#phone')
                    +e('info', 'number', {}, 'a')(href='tel:89034596540')= '8 903 45 96 540'
                +e('item', {}, 'div')
                    +e('icon', {}, 'svg')
                        use(xlink:href='#mail')
                    +e('info', {}, 'a')(href='mailto:dental_land@mail.ru')= 'dental_land@mail.ru'
                +e('button', {}, 'button')
                    +e('text', {p:'button'}, 'p')= 'Показать на карте '
        +b('social', {}, 'div')
            +e('item-link', {}, 'a')(href='http://www.vk.com')
                +e('item', {}, 'img')(src='../assets/icons/vk.png')
            +e('item-link', {}, 'a')(href='http://www.facebook.com')
                +e('item', {}, 'img')(src='../assets/icons/fb.png')
            +e('item-link', {}, 'a')(href='http://www.instagramm.com')
                +e('item', {}, 'img')(src='../assets/icons/ig.png')
    //- +b('navigation', {})
