@import '../../../assets/styles/variables.scss';

.contacts {
    background-color: #f7f7f7;
    width: 100vw;
    max-width: 1028px;
    margin-top: -25px;
    text-decoration: none
}

.contact-icon {
    fill: #4b4b4b
}

.contacts__title {
    font-family: 'Gilroy';
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: -.5px;
    padding: 80px 0 0 100px;
    width: 300px;
    margin-bottom: 0px;
}

.contacts__logo {
    display: none;
}

.contacts-wrapper {
    display: flex;
    width: 900px;
    height: 150px;
    padding: 60px 0 0 100px;
    height: max-content;
    min-height: 150px;
    width: max-content;
    max-width: 1028px;
}

.social__item-link {
    text-decoration: none;
}

.phone-wrapper {
    display: flex;
    flex-direction: column

}

.unsocial {
    display: flex;
    flex-wrap: wrap;
    width: 650px;
    height: max-content;

}

.unsocial__item {
    display: flex;
    width: 300px;
    height: 50px;
    flex-wrap: wrap;
    align-items: center;
    font-family: "Gotham Pro";
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -.5px;
}


.unsocial__icon {
    width: 25px;
    height: 25px;
    margin-right: 30px;
}

.unsocial__info--number {
    width: 130px;
}

.phone-wrapper__info {
    text-decoration: none;
    color: #7b7b7b;
}

.unsocial__info {
    text-decoration: none;
    color: #7b7b7b;
}

.social {
    margin-top: 15px;
}

.social__item {
    margin-right: 30px;
}

.unsocial__button {
    width: 232px;
    height: 36px;
    background: none;
    border: 1px solid $button-color;
    color: $button-color;
    margin-right: 70px;
    text-align: left;
    padding-left: 25px;
    margin-top: 20px;
    &:hover {
        background-color: $button-color;
        color: #fff;
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
        background-color: #204d44;
        color: #fff;
    }
}

.unsocial__button--show-map {
    display: none;
}

.button__text {
    font-family: "Gotham Pro";
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 0;
}


@media only screen and (max-width: 1010px) {

    .contacts-wrapper {
        width: 100%;
        max-width: 900px;
        height: max-content;
        min-height: 150px;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        padding: 40px 0 50px 20px;
    }

    .contacts__title-wrapper {
        display: flex;
        flex-direction: row;
        height: 70px;
        margin-bottom: 100px;
        padding: 40px 0 0 20px;
        left: 0;
        margin: 0;
    }

    .contacts__title {
        font-size: 20px;
        line-height: 48px;
        letter-spacing: -.5px;
        padding: 0;
        width: 150px;
    }

    .contacts__logo {
        display: block;
        position: relative;
        top: 10px;
        left: 60px;
    }

    .unsocial {
        margin: 0 auto;
        width: max-content;
    }

    .unsocial__button {
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .social {
        margin: 150px auto 0 auto;
    }

    .social__item {
        margin-right: 50px
    }
}