+b('slider-wrapper')
        +e('image', {}, 'div')
                +e('item fade', {}, 'img')(src='../assets/images/smile.png')
                +e('item item--hidden fade', {}, 'img')(src='../assets/images/smile.png')
                +e('item item--hidden fade', {}, 'img')(src='../assets/images/smile.png')
                +e('item item--hidden fade', {}, 'img')(src='../assets/images/smile.png')
        +e('switcher', {}, 'div')
        include contacts/contacts
        include image-mini/image-mini
        include switcher/switcher