@import '../../../assets/styles/variables.scss';

// @function get-left() {
//     @return 
// }

.slider-wrapper {
    width: 100%;
    height: 550px;
}

.slider-wrapper__image {
    width: 1030px;
    height: 430px;
    background-repeat: no-repeat;
    margin-top: 30px;
    overflow: hidden;
}

.slider-wrapper__item {
    position: relative;
    top: 0px;
    display: block;
    animation-name: scroll-in;
    animation-duration: 1s;
}

.item--hidden {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 1084px) {

    .slider-wrapper__item {
        max-width: 1028px;
        height: 427px;
    }

    .slider-wrapper__image {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
        width: 90vw;
        margin: 0 auto;
    }

}

// @media only screen and (max-width: 1250px) {

//     .slider-wrapper__image {
//     }



// }


