+b('content')
    include slider-wrapper/slider-wrapper
    include warranty/warranty
    include description/description
    include smiles/smiles
    include service/service-wrapper
    include feedback/feedback
    include contacts/contacts