+e('contacts', {}, 'div')
    +b('item', 'phone-wrapper', {}, 'div')
        +e('icon', 'phone-icon', {}, 'div')
            include ../../../../assets/icons/phone.svg
        +e('text', 'phone-discription', {}, 'h1')= '8 903 45 96 540   |   8 918 48 43 579'
    +b('item', 'alarm-wrapper', {}, 'div')
        +e('icon', 'alarm-icon', {}, 'div')
            include ../../../../assets/icons/alarm.svg
        +e('text', 'alarm-discription', {}, 'h1')= 'Пн-Пт: 08.00 — 20.00'